@media (max-width: 991px){
    .card{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px){
    .weather .city {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .weather .city{
        order: 2;
    }
}

@media (max-width: 574px){
    .weather .city{
        font-size: 25px;
    }
    .weather .temp{
        font-size: 18px;
    }
    .weather .humidity{
        font-size: 18px;
    }
    .weather .wind{
        font-size: 13.9px;
    }
    .weather .description{
        font-size: 12.9px;
    }
    .wrapper{
        font-size: x-small;
    }
}